aws-cdk.core>=1.173.0
aws-cdk.aws_lambda>=1.173.0
black
boto3==1.26.83
requests>=2.28.1
crhelper==2.0.11
Click
moto
pipenv
poetry
pytest
pytest-cov>=2.11.1
pytest-mock>=3.5.1
tox
tox-pyenv
-e helpers_cdk
-e helpers_common