[run]
omit =
    images/*
    tests/*
    forecast-shared/shared/quicksight_custom_resources/*
source =
    shared
    lambdas
    notebook
    synthetic

[report]
omit =
    forecast-shared/shared/quicksight_custom_resources/*
fail_under = 80.0