black
boto3
click==8.0.4
coverage
crhelper==2.0.11
docker==6.0.1
flaky==3.7.0
freezegun==1.2.2
matplotlib==3.7.1
moto==4.1.4
numpy==1.24.2
pytest>=7.2.0
pytest-cov
pytest-env
pytest-mock==3.10.0
PyYAML==6.0.0
requests-mock==1.10.0
responses==0.22.0
tenacity==8.2.2
aws_cdk.core==1.173.0
aws_cdk.assertions==1.173.0
aws_cdk.aws_iam==1.173.0
aws_cdk.aws_lambda==1.173.0
aws_cdk.aws_s3==1.173.0
aws_cdk.aws_s3_deployment==1.173.0
aws_cdk.aws_sns==1.173.0
aws_cdk.aws_stepfunctions==1.173.0
aws_cdk.aws_stepfunctions_tasks==1.173.0
aws_solutions_constructs.aws_lambda_sns==1.173.0
aws-cdk.aws-servicecatalogappregistry==1.173.0
-e cdk_solution_helper_py/helpers_cdk
-e cdk_solution_helper_py/helpers_common
-e infrastructure
-e forecast-shared
