black
boto3
click==7.1.2
coverage
crhelper==2.0.6
docker==4.4.0
flaky==3.7.0
freezegun==1.1.0
future==0.18.2
matplotlib==3.3.1
moto==1.3.16.dev169
numpy==1.22.0
pytest==6.1.2
pytest-cov
pytest-env
pytest-mock==3.2.0
PyYAML==5.4.1
requests-mock==1.8.0
responses==0.14.0
tenacity==6.2.0
aws_cdk.core==1.126.0
aws_cdk.aws_iam==1.126.0
aws_cdk.aws_lambda==1.126.0
aws_cdk.aws_s3==1.126.0
aws_cdk.aws_s3_deployment==1.126.0
aws_cdk.aws_sns==1.126.0
aws_cdk.aws_stepfunctions==1.126.0
aws_cdk.aws_stepfunctions_tasks==1.126.0
aws_solutions_constructs.aws_lambda_sns==1.126.0
-e cdk_solution_helper_py/helpers_cdk
-e cdk_solution_helper_py/helpers_common
-e infrastructure
-e forecast-shared